* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f3f3f3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: aqua;
  padding: 5px;
  width: 300px;
  height: 400px;
  border-radius: 10px;
}

.container > h1 {
    text-align: center;
    margin: 8px;
    padding: auto;
    font-family: sans-serif;
}